
/* modified classes */

body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
}

.container-fluid {
  max-width: 1600px;
  margin: auto;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}

.leaflet-container {
  max-height: min(90vh, 120vw);
}

.map-title {
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  z-index: 999;
}


.leaflet-control-attribution {
  display: none;
}

a, a:hover, a:focus {
  color: #48a67b;
}

.datepicker {
  z-index: 9999 !important;
}


/* new classes */

.date-btns {
  display: inline-flex;
  width: 100%;
  gap: 5px;
  margin-bottom: 1em;
}

.date-btns > button {
  padding: 2px 5px;
}

.plot-caption {
  padding: 1em;
  text-align: center;
  font-style: italic;
  font-size: small;
}

.option-well {
  padding: 10px 10px 0px 10px;
  border: 1px solid transparent;
  background: #ebf0f1;
  border-radius: 4px;
  margin-bottom: 15px;
}

.inline-flex {
  display: inline-flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.inline-flex > * > .shiny-date-input {
  margin-bottom: 0;
}

.map-display-opts > * > .checkbox {
  margin: 0;
}

/* remove bottom padding in bscollapse */
.panel-body {
  padding-bottom: 0;
}

/* animate collapse arrow */
.panel-title > a:before {
  display: inline-block;
  margin-right: 5px;
  content: "▼";
  transition: 0.25s;
  transform: rotate(-90deg);
}

.panel-title > a[aria-expanded=true]:before {
  transform: rotate(0);
}

