
body {
  font-family: 'Lato', sans-serif;
}

.container-fluid {
  max-width: 1200px;
  margin: auto;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}

.leaflet-container {
  max-height: min(90vh, 120vw);
}

a, a:hover, a:focus {
  color: #48a67b;
}

.date-btns {
  display: inline-flex;
  width: 100%;
  gap: 5px;
  margin-bottom: 1em;
}

.date-btns > button {
  padding: 2px 5px;
}

.plot-caption {
  padding: 1em;
  text-align: center;
  font-style: italic;
}

.option-well {
  padding: 10px 10px 0px 10px;
  border: 1px solid transparent;
  background: #ebf0f1;
  border-radius: 4px;
  margin-bottom: 15px;
}

.inline-flex {
  display: inline-flex;
  gap: 20px;
  flex-wrap: wrap;
}

.map-display-opts > * > .checkbox {
  margin: 0;
}
